<div class='hero-unit'>
  <h2>Look for a series on thetvdb.com</h2><br />

  <%= form_tag("/admin_config/search_remote") do %>
      <%= label_tag :name, 'Look for a series by it\'s title' %><br />
      <div class="input-append">
        <%= text_field_tag :name %>
        <%= submit_tag "Search", :class => "btn" %>
      </div>
  <% end %>
</div>