<div class='row'>
    <div class='span5 hero-unit'>
          <h4>Admin rights are the best</h4>
          <br />
          <div>
            <%= link_to "Copy over a series from thetvdb.com", "/admin_config/search" %>
          </div>
    </div>
    <%= render :partial => "shared/series_block" %>
</div>
