<div class="hero-unit">
  <h4>Admin rights are the best</h4>
  <br />
  <div class="span3">
    <%= link_to "Copy over a series from thetvdb.com", "/series/search" %>
  </div>
  <%= render :partial => "shared/series_block" %>
</div>