<aside class="span4 hero-unit">
  <h5>Available series:</h5>
      <table class='table table-hover'>
        <thead>
        </thead>
        <tbody>

          <% @series.each do |series| %>
                <tr>
                  <td> <%= truncate(series.name, length: 23) %>
                      <td>
                        <% if series.episodes %>
                            <%= form_tag("/episodes/create", class: "inline-form") do %>
                                <%= hidden_field_tag :remote_id, series.remote_id %>
                                <%= submit_tag "Get episodes", :class => "submit-link" %>
                            <% end %>
                        <% end %>
                      </td>
                  </td>
               </tr>
           <% end %>
        </tbody>
      </table>
</aside>