<div class="hero-unit span5 offset2">
  <h5>Available series:</h5>
  <ul>
    <% @series.each do |series| %>
        <li><%= series.name %> | <%= link_to "get episodes", "/episodes/create" %></li>
    <% end %>
  </ul>
</div>