<div class='page-header'>
  <h3>This is the episode list for <%= @series.name%></h3>
</div>
<h5><%= @series.overview %></h5>
<div>



  <%= will_paginate @episodes %>
  <ul id="episodes">
    <% @episodes.each do |episode| %>
      <li>
        <%= episode.name  %>
      </li>
    <% end %>
  </ul>
</div>