<div class="hero-unit">
  <h2>This is the episode list for <%= @series.name%></h2><br />
  <h6><%= @series.overview %></h6>
  <ul id="episodes">
    <% @series.episodes.each do |episode| %>
      <li>
        <%= episode.name  %>
      </li>
    <% end %>
  </ul>
</div>