body{
  padding:  40px;
}

a {
  font-size: 13px;
}

dd {
  margin-bottom: 15px;
}

body > div.container {
  margin-top: 30px;
}

input#user_remember_me {
  margin-bottom: 5px;
}

.submit-link {
  font-size: 13px;
  background-color: transparent;
  border: none;
  color: #0088cc;
  cursor: pointer;
}

.submit-link:hover{
  text-decoration: underline;
}

.inline-form{
  display: inline;
}

.extra-padding-bottom {
  padding-bottom: 30px;
}

.extra-padding-top {
  padding-top: 30px;
}

.right {
  float: right;
}

.main{

}
