<div class='jumbotron'>
  <h4>Got <%= pluralize(@series.length, 'result') %>:</h4>
      <div class="list-group">
          <% @series.each do |series| %>
              <a href="#" class="list-group-item"><%= series.name%></a>
          <% end %>
      </div>
</div>