<div class='jumbotron'>
  <h4>Try the search box below to find a series</h4><br />

  <%= form_tag(series_index_path, method: "get", class: 'form-search') do %>
      <%= label_tag :name, 'Look for a series by it\'s name' %><br />
      <div class="input-group col-md-5">
        <%= text_field_tag :search, nil, placeholder: 'Search...', class: "form-control" %>
        <div class="input-group-btn">
            <%= submit_tag "Search", name: nil, :class => "btn-default btn" %>
        </div>
      </div>
  <% end %>
</div>
